/* style.cc */
body {
	font-family: Arial, sans-serif;
	max-width: 900px;
	margin: 30px auto;
	line-height: 1.6;
	padding: 0  16px;
}

header h1{
	color: #1a202c;
	margin-bottom: 8px;
}
footer {
	margin-top: 30px;
	font-size: 0.9rem;
	color: #555;
}

